.footer{
    background-color: rgb(7, 7, 7);

    &--wrapper{
        text-align: center;
        padding: 4rem 0;

        .footer__socials{
            @include flexdiv(row, center, center, 2rem);
            cursor: pointer;
            &--icon{
                font-size: 2.5rem;
                color: white;
                
                :hover{
                    color: $primary;
                }
            }
        }
      
        .footer__item{
            font-size: 1.5rem;
            font-family: 'Roboto', sans-serif;
        }
        .footer__item + .footer__item{
            margin-top: 4rem;
            color: $silverText;
            span{
                text-decoration: underline;
                color: $primary;
            }
        }
    }
}