.hero{
    width: 100%;
    text-align: center;

    transform: translateY(65%);

    .hero--title{
        font-size: clamp(6rem, 7vw, 13rem);
        color: $lightText;
        padding: 2rem 0;
    }

    .hero--heading{
        font-family: 'Libre Franklin', sans-serif;
        font-size: clamp(1.4rem, 1.75vw, 1.8rem);
        text-transform: uppercase;
        font-weight: 400;
        color: $silverText;
        letter-spacing: .17rem;
        margin-bottom: 2rem;
        padding: 2rem 0;
    }
}
