.home{
    min-height: 100vh;
    background-color: $darkText;
    background-image: url('../../public/images/hero_img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    isolation: isolate;

    &::before{
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba($color: #000000, $alpha: .7);
        z-index: -1;

    }
}