*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.title {
  font-family: "Great Vibes", cursive;
  text-transform: capitalize;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  color: #353535;
}

.btn {
  border: none;
}

.hero__book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn--book {
  width: 100%;
  font-size: 1.5rem;
  padding: 1.25em 0;
  text-transform: uppercase;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  background-color: #c99c59;
  color: #ffffff;
  max-width: 30rem;
  transition: all 0.25s ease;
  text-decoration: none;
}
.btn--book:hover {
  transform: translateY(-7.5%);
  background-color: #c5a152;
}

@media screen and (max-width: 599px) {
  .home .nav {
    display: none;
  }
  .home .mobile--nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    z-index: 1;
  }
  .home .mobile--nav .icon.close {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    font-size: 2rem;
    cursor: pointer;
  }
  .home .mobile--nav .nav__list {
    display: flex;
    flex-direction: column !important;
    gap: 4rem !important;
  }
  .home .mobile--nav .nav__list .navlink {
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Libre Franklin", sans-serif;
    padding: 1rem 0;
    border-bottom: solid 0.4rem transparent;
    color: #353535;
  }
  .home .mobile--nav .nav__list .navlink:hover {
    border-bottom: solid #353535 0.4rem;
  }
}
@media screen and (min-width: 650px) {
  .home .hamburger--menu {
    display: none;
  }
  .home .mobile--nav {
    display: none;
  }
  .hero__book {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .section {
    height: 100vh;
    padding: 0 !important;
  }
  .section--wrapper .section__image {
    margin-top: 0 !important;
  }
  .services .service__card--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 5rem;
    padding-bottom: 4rem;
  }
  .btn--book {
    width: 30%;
  }
  .photo__gallery--wrapper {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media screen and (min-width: 900px) {
  .section--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    height: inherit;
  }
  .section--wrapper .section__text {
    width: 40%;
  }
  .section--wrapper .section__image {
    width: 50%;
  }
  .timeLocation--wrapper .timeLocation__item {
    text-align: left !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .timeLocation--wrapper .timeLocation__item--info {
    width: 30%;
  }
  .timeLocation--wrapper .timeLocation__item--info .location__info {
    justify-content: flex-start !important;
  }
  .timeLocation--wrapper .timeLocation__item--map {
    width: 65%;
  }
  .timeLocation--wrapper .timeLocation__item:nth-child(2n) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .photo__gallery--wrapper {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
.section {
  min-height: 100vh;
  padding: 8rem 0;
}
.section--wrapper {
  height: inherit;
}
.section--wrapper .section__text {
  text-align: center;
}
.section--wrapper .section__text--image {
  width: 5rem;
  color: #c99c59;
}
.section--wrapper .section__text--title {
  font-size: clamp(4rem, 3vw, 7rem);
  color: #353535;
  margin: 2rem 0;
}
.section--wrapper .section__text--paragraph {
  line-height: 3rem;
  text-align: center;
  font-size: clamp(1.4rem, 2vw, 1.75rem);
  margin: 1.25rem;
}
.section--wrapper .section__text--paragraph .contact--link {
  color: #c99c59;
}
.section--wrapper .section__image {
  margin-top: 8rem;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 3px;
  background-color: #c99c59;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #c99c59;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: #c99c59;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.footer {
  background-color: rgb(7, 7, 7);
}
.footer--wrapper {
  text-align: center;
  padding: 4rem 0;
}
.footer--wrapper .footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
.footer--wrapper .footer__socials--icon {
  font-size: 2.5rem;
  color: white;
}
.footer--wrapper .footer__socials--icon :hover {
  color: #c99c59;
}
.footer--wrapper .footer__item {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.footer--wrapper .footer__item + .footer__item {
  margin-top: 4rem;
  color: #C0C0C0;
}
.footer--wrapper .footer__item + .footer__item span {
  text-decoration: underline;
  color: #c99c59;
}

.service__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  border-bottom: dashed #353535 2px;
  padding: 2rem 0;
  font-size: 1.4rem;
  color: #C0C0C0;
}
.service__card--price {
  color: #c99c59;
}

.services {
  margin: 8rem 0;
}
.services--wrapper .service__item {
  background-color: rgb(7, 7, 7);
  margin-top: -35rem;
  padding: 6rem;
}
.services--wrapper .service__item a {
  text-decoration: none;
  color: #ffffff;
}
.services--wrapper .service--top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  padding-top: 10rem;
  height: 60rem;
  background-image: url("../../public/images/texture-trees-wood.jpg");
  background-color: #353535;
  background-size: cover;
  background-repeat: no-repeat;
}
.services--wrapper .service--top .service__title {
  font-size: clamp(4rem, 3vw, 7rem);
  color: white;
}
.services--wrapper .service__card--wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5rem;
  padding-bottom: 4rem;
}

.timeLocation {
  text-align: center;
}
.timeLocation h1 {
  font-size: clamp(4rem, 3vw, 7rem);
  color: #353535;
  margin-bottom: 4rem;
}
.timeLocation--wrapper .timeLocation__item {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 8rem 0;
}
.timeLocation--wrapper .timeLocation__item--info {
  margin-bottom: 4rem;
}
.timeLocation--wrapper .timeLocation__item--info h2 {
  font-size: 3rem;
  padding: 1rem;
}
.timeLocation--wrapper .timeLocation__item--info p {
  color: #353535;
}
.timeLocation--wrapper .timeLocation__item--info .btn--location {
  background-color: #c99c59;
  font-size: 2rem;
  padding: 1em 0.5em;
  width: 100%;
  color: #ffffff;
  margin: 4rem 0;
}
.timeLocation--wrapper .timeLocation__item--info a {
  text-decoration: none;
  color: #ffffff;
}
.timeLocation--wrapper .timeLocation__item .location__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1.5rem 0;
  color: #353535;
}
.timeLocation--wrapper .timeLocation__item .location__info--icon {
  width: 2.5rem;
}

#map {
  height: 20rem;
  max-width: 100%;
}

.photo__gallery--title {
  text-align: center;
  font-size: clamp(4rem, 3vw, 7rem);
  color: #353535;
  margin-bottom: 4rem;
}
.photo__gallery--wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.photo__gallery .photo__gallery--imageDiv {
  overflow: hidden;
}
.photo__gallery .photo__gallery--image {
  transition: all 0.5s ease-in-out;
}
.photo__gallery .photo__gallery--image:hover {
  transform: scale(1.1);
}

.home {
  min-height: 100vh;
  background-color: #353535;
  background-image: url("../../public/images/hero_img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  isolation: isolate;
}
.home::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.header {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header .logo img {
  width: 6rem;
}
.header .nav .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.header .nav .navlink {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Libre Franklin", sans-serif;
  padding: 1rem 0;
  border-bottom: solid 0.4rem transparent;
}
.header .nav .navlink:hover {
  border-bottom: solid 0.4rem #ffffff;
}
.header .hamburger--menu {
  font-size: 2rem;
  color: #ffffff;
}

.hero {
  width: 100%;
  text-align: center;
  transform: translateY(65%);
}
.hero .hero--title {
  font-size: clamp(6rem, 7vw, 13rem);
  color: #ffffff;
  padding: 2rem 0;
}
.hero .hero--heading {
  font-family: "Libre Franklin", sans-serif;
  font-size: clamp(1.4rem, 1.75vw, 1.8rem);
  text-transform: uppercase;
  font-weight: 400;
  color: #C0C0C0;
  letter-spacing: 0.17rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

#map {
  height: 50rem;
}/*# sourceMappingURL=main.css.map */